<!-- file: views/selection.erb -->

<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <div>
        Title: <%= @title %> <br>
        Released: <%= @release_year %>
    </div>
<br><br>
     <div>
        Title: <%= @title %> <br>
        Released: <%= @release_year %>
    </div>


  </body>
</html>