<!-- file: views/selection.erb -->

<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <div>
        Title: <%= @title1 %>
        Released: <%= @year1 %>
    </div>

     <div>
        Title: <%= @title2 %>
        Released: <%= @year2 %>
    </div>


  </body>
</html>